<h1>Listing phones</h1>

<table>
  <tr>
    <th>Photo</th>
    <th>ID</th>
    <th>Brand</th>
    <th>Name</th>
    <th>Description</th>
    <th>Price</th>
    <th>Quantityinstock</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @phones.each do |phone| %>
  <tr>
    <td><%= image_tag phone.photo_url %></td>
    <td><%= phone.id %></td>
    <td><%= phone.brand %></td>
    <td><%= phone.name %></td>
    <td><%= phone.description %></td>
    <td><%= phone.price %></td>
    <td><%= phone.quantityInStock %></td>
    <td><%= link_to 'Buy', :controller => :orders, :action => :new, :id => phone.id %></td>
    <% if signed_in? %>
		<td><%= link_to 'Buy', :controller => :orders, :action => :new, :id => phone.id %></td>
    <td><%= link_to 'Show', phone %></td>
		
	<% else %>
	
    <td><%= link_to 'Show', phone %></td>
	<% end %>
	</tr>
<% end %>
</table>

<br />

<%= link_to 'New Phone', new_phone_path %>
